<div class="controls_container">
  <button class="letter_button" id="97" #l0 (click)="logKey(l0)" disabled>A</button>
  <button class="letter_button" id="98" #l1 (click)="logKey(l1)" disabled>B</button>
  <button class="letter_button" id="99" #l2 (click)="logKey(l2)" disabled>C</button>
  <button class="letter_button" id="100" #l3 (click)="logKey(l3)" disabled>D</button>
  <button class="letter_button" id="101" #l4 (click)="logKey(l4)" disabled>E</button>
  <button class="letter_button" id="102" #l5 (click)="logKey(l5)" disabled>F</button>
  <button class="letter_button" id="103" #l6 (click)="logKey(l6)" disabled>G</button>
  <button class="letter_button" id="104" #l7 (click)="logKey(l7)" disabled>H</button>
  <button class="letter_button" id="105" #l8 (click)="logKey(l8)" disabled>I</button>
  <button class="letter_button" id="106" #l9 (click)="logKey(l9)" disabled>J</button>
  <button class="letter_button" id="107" #l10 (click)="logKey(l10)" disabled>K</button>
  <button class="letter_button" id="108" #l11 (click)="logKey(l11)" disabled>L</button>
  <button class="letter_button" id="109" #l12 (click)="logKey(l12)" disabled>M</button>
  <button class="letter_button" id="110" #l13 (click)="logKey(l13)" disabled>N</button>
  <button class="letter_button" id="111" #l14 (click)="logKey(l14)" disabled>O</button>
  <button class="letter_button" id="112" #l15 (click)="logKey(l15)" disabled>P</button>
  <button class="letter_button" id="113" #l16 (click)="logKey(l16)" disabled>Q</button>
  <button class="letter_button" id="114" #l17 (click)="logKey(l17)" disabled>R</button>
  <button class="letter_button" id="115" #l18 (click)="logKey(l18)" disabled>S</button>
  <button class="letter_button" id="116" #l19 (click)="logKey(l19)" disabled>T</button>
  <button class="letter_button" id="117" #l20 (click)="logKey(l20)" disabled>U</button>
  <button class="letter_button" id="118" #l21 (click)="logKey(l21)" disabled>V</button>
  <button class="letter_button" id="119" #l22 (click)="logKey(l22)" disabled>W</button>
  <button class="letter_button" id="120" #l23 (click)="logKey(l23)" disabled>X</button>
  <button class="letter_button" id="121" #l24 (click)="logKey(l24)" disabled>Y</button>
  <button class="letter_button" id="122" #l25 (click)="logKey(l25)" disabled>Z</button>
</div>
