$primary: #362569;
$bg-color: #ededed;
$base-font-size: 1.125rem;
$font-size: $base-font-size;
$bigger-font-size: $base-font-size * 1.875;
$biggest-font-size: $base-font-size * 2.45;
$h1-font-size: $base-font-size * 2.875;
$hover-color:rgba(54,37,105,.1);
$border-solid: 1px solid $primary;
$border-dotted: 1px dotted $primary;

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-color;
}

* {
  font-size: $font-size;
  &:focus{
    outline:2px solid $primary;
    outline-offset: -1px;
  }
}

.d-flex{
  display:flex;
}

.hidden {
  visibility: hidden;
}
