@import "../../../app.component";


.container{
  min-height: 2.3rem;
  margin: 1rem 0;

  .word-container, .underline-container{
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    .guess-letter{
      visibility: hidden;
      font-size: $bigger-font-size;
      min-width: 2rem;
      text-align: center;
    }
    .underline {
      margin-top: -2.8rem;
      font-size: 3rem;
      min-width: 2rem;
      text-align: center;
    }
    @media (max-width:575px){
      gap: 0.325rem;
      .guess-letter{
        font-size: $bigger-font-size * 0.75;
        min-width: calc(2rem * .75);
      }
      .underline {
        margin-top: calc(-2.8rem * .75);
        font-size: 3rem * 0.75;
        min-width: calc(2rem * .75);
      }
    }
  }
}
